@import "./product.scss";
@import "./state.scss";
@import "./wallet.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 0;
}

ul,
ol {
  list-style: none;
}
main {
  display: flex;
  margin: 50px 100px;
}
