.monitor-view {
  padding: 40px 20px;
  width: 400px;
  border: 5px solid black;
  height: 900px;
  background-color: #ffd490;
  font-size: 20px;

  &__money,
  &__btn {
    height: 60px;
    border: 2px solid black;
    margin-bottom: 60px;
    background-color: white;
  }

  &__money {
    padding: 13px;
    text-align: right;
    font-size: 30px;
  }

  &__btn {
    padding: 0 145px;
    text-align: center;
    background-color: ec4037;
    border-radius: 10px;
    color: white;
    font-size: 30px;
  }

  &__monitor {
    padding: 10px;
    background-color: white;
    height: 500px;
    border: 2px solid black;
    text-align: left;
    &__text {
      margin: 3px;
    }
  }
}
