.wallet-view {
  text-align: center;
  padding: 30px;
  width: 300px;
  border: 5px solid black;
  height: 900px;
  text-align: center;
  font-size: 20px;

  &__cash-bundle {
    li {
      margin: 10px 0;
      display: flex;
      justify-content: space-between;
    }
    &__total-price {
      width: 230px;
      padding: 20px 50px;
      border-radius: 5px;
      border: 2px solid black;
      font-size: 25px;
    }
    &__cnt {
      border: 2px solid black;
      width: 110px;
      padding: 20px 0;
      border-radius: 5px;
    }
    &__price {
      border: 2px solid black;
      width: 110px;
      padding: 20px 0;
      border-radius: 5px;
      font-size: 20px;
    }
  }
}
