#app {
  width: 100%;
  display: flex;
}

section {
  width: 100%;
  height: fit-content;
  border: 1px solid rosybrown;
}

.items {
  border: 1px solid royalblue;
}

.items:hover {
  background-color: pink;
}
