<!DOCTYPE html>
<html>

<head>
  <title>
  </title>
  <!-- <link rel='stylesheet' href='./css/util.css'> -->
  <!-- <link rel='stylesheet' href='./css/main.css'> -->
</head>

<body>
  <section class="wrapper">
    <section class="product">
      <ul class="product__twenty">
        <li>
          <div class="product__twenty__name disable">콜라</div>
          <span class="product__twenty__price">500</span>
        </li>
        <li>
          <div class="product__twenty__name disable">사이다</div>
          <span class="product__twenty__price">1000</span>
        </li>
        <li>
          <div class="product__twenty__name disable">파인애플맛 환타</div>
          <span class="product__twenty__price">400</span>
        </li>
        <li>
          <div class="product__twenty__name disable">포도맛 환타</div>
          <span class="product__twenty__price">300</span>
        </li>
        <li>
          <div class="product__twenty__name disable">레몬에이드</div>
          <span class="product__twenty__price">900</span>
        </li>
        <li>
          <div class="product__twenty__name disable">봉봉</div>
          <span class="product__twenty__price">1200</span>
        </li>
        <li>
          <div class="product__twenty__name disable">코코아주스</div>
          <span class="product__twenty__price">1000</span>
        </li>
        <li>
          <div class="product__twenty__name disable">콜라제로</div>
          <span class="product__twenty__price">1000</span>
        </li>
        <li>
          <div class="product__twenty__name disable">파워에이드</div>
          <span class="product__twenty__price">2000</span>
        </li>
        <li>
          <div class="product__twenty__name disable">초코우유</div>
          <span class="product__twenty__price">1000</span>
        </li>
        <li>
          <div class="product__twenty__name disable">초코우유2</div>
          <span class="product__twenty__price">7000</span>
        </li>
        <li>
          <div class="product__twenty__name disable">초코우유3</div>
          <span class="product__twenty__price">600</span>
        </li>
        <li>
          <div class="product__twenty__name disable">딸바주스</div>
          <span class="product__twenty__price">1000</span>
        </li>
        <li>
          <div class="product__twenty__name disable">바나나우유</div>
          <span class="product__twenty__price">500</span>
        </li>
        <li>
          <div class="product__twenty__name disable">커피우유</div>
          <span class="product__twenty__price">1000</span>
        </li>
        <li>
          <div class="product__twenty__name disable">알로에</div>
          <span class="product__twenty__price">1200</span>
        </li>
        <li>
          <div class="product__twenty__name disable">콘칩</div>
          <span class="product__twenty__price">1000</span>
        </li>
        <li>
          <div class="product__twenty__name disable">새우깡</div>
          <span class="product__twenty__price">1000</span>
        </li>
        <li>
          <div class="product__twenty__name disable">감자칩</div>
          <span class="product__twenty__price">2000</span>
        </li>
        <li>
          <div class="product__twenty__name disable">칸쵸</div>
          <span class="product__twenty__price">1000</span>
        </li>
      </ul>
    </section>
    <section class="process">
      <div class="process__print_price">0</div>
      <div class="process__exchange">반환</div>
      <div class="process__print_log"></div>
    </section>
    <section class="wallet">
      <ul class="wallet__money">
        <li>
          <div class="wallet__money__price">10</div>
          <div class="wallet__money__count"></div>
        </li>
        <li>
          <div class="wallet__money__price">50</div>
          <div class="wallet__money__count"></div>
        </li>
        <li>
          <div class="wallet__money__price">100</div>
          <div class="wallet__money__count"></div>
        </li>
        <li>
          <div class="wallet__money__price">500</div>
          <div class="wallet__money__count"></div>
        </li>
        <li>
          <div class="wallet__money__price">1000</div>
          <div class="wallet__money__count"></div>
        </li>
        <li>
          <div class="wallet__money__price">5000</div>
          <div class="wallet__money__count"></div>
        </li>
        <li>
          <div class="wallet__money__price">10000</div>
          <div class="wallet__money__count"></div>
        </li>
      </ul>
      <div class="wallet__total_money"></div>
    </section>
  </section>

  <script src="./main_bundle.js"></script>
</body>

</html>