<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/reset.css" />
  </head>

  <body>
    <section class="VM">
      <header>
        <div>상품화면</div>
        <div>진행화면</div>
        <div>지갑화면</div>
      </header>
      <main>
        <section class="section__products"></section>
        <section class="section__controller">
          <div class="controller__total">
            0 원
          </div>
          <button class="controller__reset">반환</button>
          <div class="controller__log"></div>
        </section>
        <section class="section__wallet">
        </section>
      </main>
    </section>
    <script src="./dist/bundle.js"></script>
  </body>
</html>
