// 공통적으로 쓰이는 Style들 (어느 한 부분이 아닌 다방면에서 쓰일 것 같은 것들)
$color-one: #9e9700;
$color-two: #fff870;
$color-three: #ebe350;
$color-four: #46169e;
$color-five: #8750eb;

.body {
    background-color: #fff870;
}

.text-center-middle,
.text-center-right {
    background-color: #fff;
}
